In [ ]:
# https://auth.cloud.datastax.com/auth/realms/CloudUsers/protocol/openid-connect/auth?client_id=auth-proxy&redirect_uri=https%3A%2F%2Fgatekeeper.auth.cloud.datastax.com%2Fcallback&response_type=code&scope=openid+profile+email&state=%2Fioggi3PlZKRkb3q5s%2Bc204BGug%3D

In [120]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\sssso\anaconda3\lib\site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in c:\users\sssso\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\sssso\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in c:\users\sssso\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the 'c:\users\sssso\anaconda3\python.exe -m pip install --upgrade pip' command.

In [121]:
import cassandra
print(cassandra.__version__)

3.25.0

In [122]:
from cassandra.query import BatchStatement,SimpleStatement

In [123]:
#FOR CONNECTING TO CLOUD SYSTEM
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {'secure_connect_bundle':r'C:\Full_Stack\Cassandra\secure-connect-saratx.zip'}
auth_provider = PlainTextAuthProvider('rJvgeAeioatElFOkJnOGcTpc', 'QQPKibm-xobjhu.PpfobPWv9..L03IrylFl7ef-SvgpCjjrAfdLq8rRXCLqabZy+65mGqsp.+FqNjG04HE2iF3_GzBbG49DiTS-jbTahKn+f8ptJi0aZJOYK_DUNT,q2')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local")
if row:
    print(row[0])
else:
    print("An error occurred.")

Row(release_version='4.0.0.6814')

<ipython-input-123-1b0dec702705>:12: DeprecationWarning: ResultSet indexing support will be removed in 4.0. Consider using ResultSet.one() to get a single row.
  print(row[0])

In [1]:
# FOR CONNECTING TO LOCAL SYSYTEM
from cassandra.cluster import Cluster
#from cassandra.auth import PlainTextAuthProvider

#cloud_config= {'secure_connect_bundle':r'C:\Users\Admin\Downloads\secure-connect-test.zip'}
#auth_provider = PlainTextAuthProvider('xbCLnGiTgbFemYjnNKyXmdJk', 'uZQFsScneNQ8+WhqNmLehyRXNZ4HZ233ktFIw1fkCulK,czUQ7hGkJJze4lzHU2Mcl7vOMm56,7sQJYiFLIUwQzjw4BEeWufXeaMC8vG1exmzGaoQ+glmBLW8+48tIAd')
cluster = Cluster()
session = cluster.connect()

row = session.execute("select release_version from system.local")
print(row)

<cassandra.cluster.ResultSet object at 0x00000208F7F11130>

In [70]:
# Create Keyspace
try:
    query = "CREATE KEYSPACE empmgmt WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3};"
    session.execute(query)
    print('Keyspace created.')
except Exception as e:
    print('excetion occured ',e)

excetion occured  Error from server: code=2100 [Unauthorized] message="Missing correct permission on empmgmt."

In [ ]:
# Alter Keyspace
try:
    query = "ALTER KEYSPACE empmgmt WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 2};"
    session.execute(query)
    print('Keyspace altered.')
except Exception as e:
    print('excetion occured ',e)

In [7]:
#use keyspace
row=session.execute("use genius1;")

In [5]:
# alter keyspace
#row=session.execute("ALTER KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 3};")

In [9]:
#dropping the keyspace
#row=session.execute("DROP KEYSPACE genius1;")

In [124]:
try:
    row=session.execute("use saratx;")
except Exception as e:
    print(e)

In [12]:
#row = session.execute("CREATE KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

In [129]:
#creating table in the keyspace
row=session.execute("CREATE TABLE Members(id int PRIMARY KEY,name text,age int,height int);")

In [130]:
#inserting into table
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (1,'mohit',25,160);")

In [131]:
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (2,'shubham',26,165);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (3,'aradhana',25,142);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (4,'rakesh',55,157);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (5,'poonam',52,145);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (6,'seema',30,145);")

In [133]:
row=session.execute("select * from Members")

In [134]:
for i in row:
    print(i)

Row(id=5, age=52, height=145, name='poonam')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=26, height=165, name='shubham')
Row(id=4, age=55, height=157, name='rakesh')
Row(id=6, age=30, height=145, name='seema')
Row(id=3, age=25, height=142, name='aradhana')

# Insert Multiple Records to DB

In [135]:
from cassandra.query import BatchStatement,SimpleStatement

qr1= "insert into Members (id,name,age,height) values(%s,%s,%s,%s)"
batch = BatchStatement()
batch.add(qr1,[5,'sarat',28,265])
batch.add(qr1,[6,'srikant',24,135])
batch.add(qr1,[7,'sss',20,150])
session.execute(batch)
print('Insert completed')

Insert completed

# Delete a record from EMP

In [136]:
dt_rec= "delete from Members where id= ?;"
dt_st= session.prepare(dt_rec)
session.execute(dt_st,[6])
print('Record deleted successfully...')

Record deleted successfully...

In [34]:
pwd()

'C:\\Full_Stack\\Cassandra\\casandra'

# Insert data from a CSV file to Cassandra DB

In [137]:
import csv
with open('data.csv','r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    #csv reader object
    print(data_csv)
    all_value= []
    for i in data_csv:
        session.execute("insert into  saratx.Members (id ,name) values(%s,%s)",[int(i[0]),i[1]])
print("Finished")

<_csv.reader object at 0x00000278159C9F40>
Finished

In [95]:
import csv
with open('data.csv','r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    #csv reader object
    print(data_csv)
    all_value= []
    for i in data_csv:
        session.execute("insert into  saratx.Members (id ,name,height) values(%s,%s,%s)",[int(i[0]),i[1],int(i[3])])
print("Finished")

<_csv.reader object at 0x0000027815A6D1C0>
Finished

# Insertion through prepare statement

In [138]:
smt=session.prepare('insert into saratx.Members (id ,name,age,height) values(?,?,?,?)')
session.execute(smt.bind([1002,'sarat9',29,567]))

# Update command

In [139]:
session.execute("update saratx.Members set name='amit9' where id=1002")

# Delete Command

In [140]:
session.execute("delete from saratx.Members where id=1002")

# orderby
You can fine-tune the display order using the ORDER BY clause. The partition key must be defined in the WHERE clause and the ORDER BY clause defines the clustering column to use for ordering.

both partition and clustering keys has to be given

In [142]:
session.execute("create table saratx.student1(studentID int,name text,age int, primary key(studentID,age))")

# Insertion through Batch and Simple Statement.

In [143]:
batch=BatchStatement()
studentlist=[(7,'priya7',34),(8,'priya8',23),(1,'priya8',23),(8,'priya8',24)]
for i in studentlist:
    batch.add(SimpleStatement('insert into saratx.student1(studentID,name,age) values(%s,%s,%s)'),(i[0],i[1],i[2]))
              
session.execute(batch)

In [144]:
row= session.execute("select * from saratx.student1")
for i in row:
    print(i)

Row(studentid=1, age=23, name='priya8')
Row(studentid=8, age=23, name='priya8')
Row(studentid=8, age=24, name='priya8')
Row(studentid=7, age=34, name='priya7')

In [145]:
rows=session.execute('select * from saratx.student1 where studentID = 8 order by age DESC')

In [146]:
for i in rows:
    print(i)

Row(studentid=8, age=24, name='priya8')
Row(studentid=8, age=23, name='priya8')

# Count records

In [147]:
row = session.execute("SELECT COUNT(*) FROM saratx.student1;").one()
print(row)

Row(count=4)

In [148]:
row = session.execute("SELECT SUM(age) FROM saratx.student1;").one()
print(row)

Row(system_sum_age=104)

# Filtering with condition

In [149]:
row= session.execute("select * from saratx.student1 where studentID>=8 allow filtering")
for i in row:
    print(i)

Row(studentid=8, age=23, name='priya8')
Row(studentid=8, age=24, name='priya8')

# Filtering All

In [150]:
row=session.execute("select * from student1;")
for i in row:
    print(i)

Row(studentid=1, age=23, name='priya8')
Row(studentid=8, age=23, name='priya8')
Row(studentid=8, age=24, name='priya8')
Row(studentid=7, age=34, name='priya7')

In [151]:
#view the data in table
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=28, height=265, name='sarat')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=26, height=165, name='shubham')
Row(id=4, age=55, height=157, name='rakesh')
Row(id=7, age=20, height=150, name='sss')
Row(id=100, age=None, height=None, name='kk')
Row(id=102, age=None, height=None, name='kc')
Row(id=101, age=None, height=None, name='kb')
Row(id=3, age=25, height=142, name='aradhana')
Row(id=103, age=None, height=None, name='kd')

In [17]:
#not inserting value in some column
row=session.execute("INSERT INTO Members(id,name,age) VALUES (9,'sakshi',32);")

In [18]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)
#null where data not given

Row(id=5, age=52, height=145, name='poonam')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=26, height=165, name='shubham')
Row(id=4, age=55, height=157, name='rakesh')
Row(id=6, age=30, height=145, name='seema')
Row(id=9, age=32, height=None, name='sakshi')
Row(id=3, age=25, height=142, name='aradhana')

In [152]:
#alter existing table (adding more columns to table)
row=session.execute("ALTER TABLE student1 ADD email varchar;")

In [153]:
row=session.execute("select * from student1;")
for i in row:
    print(i)

Row(studentid=1, age=23, email=None, name='priya8')
Row(studentid=8, age=23, email=None, name='priya8')
Row(studentid=8, age=24, email=None, name='priya8')
Row(studentid=7, age=34, email=None, name='priya7')

In [141]:
#dropping the table
row=session.execute("DROP TABLE if exists saratx.student1;")

In [128]:
#truncating (removing all data from table)
row=session.execute("TRUNCATE saratx.Member;")

InvalidRequest: Error from server: code=2200 [Invalid query] message="table saratx.member does not exist"

In [23]:
#table is empty now
for i in row:
    print(i)

In [24]:
#INSERING DATA 
row=session.execute("INSERT INTO Members(id,name,age,height,email) VALUES (2,'shubham',26,165,'memohit@gmail.com');")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (3,'aradhana',25,142);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (4,'rakesh',55,157);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (5,'poonam',52,145);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (6,'seema',30,145);")

In [25]:
#update existing table 
row=session.execute("UPDATE genius1.Members SET name= 'Mohit Raghav',age = 28 WHERE id=1;")

In [26]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, email=None, height=145, name='poonam')
Row(id=1, age=28, email=None, height=None, name='Mohit Raghav')
Row(id=2, age=26, email='memohit@gmail.com', height=165, name='shubham')
Row(id=4, age=55, email=None, height=157, name='rakesh')
Row(id=6, age=30, email=None, height=145, name='seema')
Row(id=3, age=25, email=None, height=142, name='aradhana')

In [27]:
#delete a particular row or a part of row
row=session.execute("DELETE age FROM Members WHERE id=3;")

In [28]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, email=None, height=145, name='poonam')
Row(id=1, age=28, email=None, height=None, name='Mohit Raghav')
Row(id=2, age=26, email='memohit@gmail.com', height=165, name='shubham')
Row(id=4, age=55, email=None, height=157, name='rakesh')
Row(id=6, age=30, email=None, height=145, name='seema')
Row(id=3, age=None, email=None, height=142, name='aradhana')

In [29]:
#selecting particular data
row=session.execute("SELECT name, age FROM Members WHERE id = 1;")

In [30]:
for i in row:
    print(i)

Row(name='Mohit Raghav', age=28)